@font-face {
  font-family: 'Roboto-Light';
  src: url("Roboto-Light.ttf");
}

body, html {
  font-family: 'Roboto-Light';
  background-color: skyblue;
}

element.style{
  width: 100%; 
}

.start-button{
  width: 100px;
  height: 40px;
  font-size: 25px;    
}

.count{
  display: grid;
  place-items: center;
  height: 70vh;
  font-size: 50px;
}

button{
  background-color: #00ffFF;
  border: 3px solid #000;
}

button:hover{
  background-color: turquoise;
}

.start-button{
  width: 100px;
  height: 40px;
}
